# Terraform state files
addons/cluster-autoscaler/default-values.yaml
addons/external-dns/default-values.yaml
addons/nginx-ingress/default-values.yaml
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfstate.lock.info
*.tfvars
!example.tfvars
.terraform/
.tmp/

#IntelliJ IDEA files
.idea/workspace.xml